#logo-login{
    width: clamp(5rem, 9vw, 5rem);
    height: clamp(2rem ,9vh, 4rem);
    position: absolute;
    left: 2.5%;
    top: 2.5%;
}

#ilustration-register{
    height: 100vh;
}

@media screen and (max-width: 899px){
    .leftSide{
        display: none;
    }

    #logo-login{
        left: calc(50% - 2.5rem);
    }

    .grid-responsive-login{
        margin-top: 1.5rem;
        height: fit-content !important;
    }
}