

#mobile-logo{
    width: clamp(4rem, 9vw, 5rem);
    height: clamp(2rem ,9vh, 4rem);
}

.mobile-link{
    color: #3e3e3e;
    text-decoration: none;
    margin: .5rem 0 .5rem 5%;
}

#login-mobile{
    width: 100%;
    margin: 1rem auto 0 auto;
    background-color: #9EB23B;
    color: white;
    padding: .5rem 0;
    text-align: center;
    border-radius: 5px;
}

#login-mobile:hover{
    background-color: #C7D36F;
}

#register-mobile{
    margin-top: 1rem;
    color: #9EB23B;
    text-align: center;
}

#register-mobile:hover{
    color: #C7D36F;
}