.cart-container{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
}

#links-cart{
    margin-top: 10rem;
}

.header-links{
    font-size: clamp(.9rem ,1.2vw, 2rem);
    min-width: 45px;
}

.products-table{
    flex: 8;
    margin: 1rem 0 1rem 0;
}

.order-section{
    flex: 4;
    margin: 1rem 0 1rem 2%;
}

.order-summary{
    border: 1px solid #ccc;
}

.order-summary h4{
    margin: 0;
    padding: 10px 15px;
    color: #3e3e3e;
}

.order-info{
    padding: 10px 15px;
}

.order-total{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: #E0DECA;
    border-top: 1px solid #afae9d;
    color: #3e3e3e;
    padding: 10px 15px;
}

.order-info-single{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.table-rows img{
    margin-right: 10px; 
    height: 50px; 
    width: 70px
}

@media screen and (max-width: 1215px){
    .cart-container{
        flex-direction: column;
    }

    .products-table{
        margin: 1rem 0 1rem 0;
    }

    .order-section{
        margin: 1rem 0 1rem 0;
    }

    #links-cart{
        margin-top: 8rem;
    }
}

@media screen and (max-width: 992px){
    .products-table{
        margin: 1rem 0 1rem 0;
    }
}

@media screen and (max-width: 700px){
    .table-rows img{
        margin-right: 10px; 
        height: 40px; 
        width: 60px
    }

    #links-cart{
        margin-top: 7rem;
    }
}